<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nrs.nsnik.notes">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.nrs.nsnik.notes.MainActivity"
            android:theme="@style/tranparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nrs.nsnik.notes.Prefrences"
            android:label="@string/settings"
            android:parentActivityName="com.nrs.nsnik.notes.MainActivity" />
        <activity
            android:name="com.nrs.nsnik.notes.NewNoteActivity"
            android:label="@string/addNote"
            android:parentActivityName="com.nrs.nsnik.notes.MainActivity" />

        <provider
            android:name="com.nrs.nsnik.notes.data.TableProvider"
            android:authorities="com.nrs.nsnik.notes"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".NewNoteActivity$ReminderService" />

        <activity
            android:name="com.nrs.nsnik.notes.SearchResultActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.nrs.nsnik.notes.FullScreen"></activity>
    </application>

</manifest>