<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nrs.nsnik.notes">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/tranparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewNoteActivity"
            android:label="@string/addNote"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <provider
            android:name=".data.TableProvider"
            android:authorities="com.nrs.nsnik.notes"
            android:enabled="true"
            android:exported="false" />
        <receiver android:name=".NewNoteActivity$ReminderService" />
        <activity android:name=".ContainerActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.nrs.nsnik.notes.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>